<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906749263808-id76aun7pb8ll152us7646nkdfl0nkm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906749263808-id76aun7pb8ll152us7646nkdfl0nkm6</string>
	<key>API_KEY</key>
	<string>AIzaSyD-1Ee39WQ-jHxaUWfBc_0oAr5ZHwPKcF8</string>
	<key>GCM_SENDER_ID</key>
	<string>906749263808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waClone</string>
	<key>PROJECT_ID</key>
	<string>wa-clone-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>wa-clone-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906749263808:ios:be2f36ff5808dbb65ad225</string>
</dict>
</plist>